/*-- scss:defaults --*/

// use litera as the base
$theme: "litera" !default;

// import google fonts
/*@import url('https://fonts.googleapis.com/css2?family="Libre Franklin"&display=swap');
@import url('https://fonts.cdnfonts.com/css/avenir-next-lt-pro');*/
@import url('https://fonts.cdnfonts.com/css/sabon');
/*@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url("https://use.typekit.net/uds6lpa.css");
@import url("https://cdn.jsdelivr.net/npm/charter-webfont@4/charter.min.css");
/*@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url("https://use.typekit.net/uds6lpa.css");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url("https://cdn.jsdelivr.net/npm/charter-webfont@4/charter.min.css");
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');*/

$primary:  #06436e !default;
$font-family-base: 'Optima', 'Sabon', 'Spectral',  serif !default;
$headings-font-family: 'Noto Sans', 'Lato', 'Cabin', 'Montserrat', 'Source Sans Pro', sans-serif !default;